.ag-theme-my-theme {
    --ag-accent-color: #00A2FF;
    --ag-background-color: #21222C;
    --ag-border-color: #429356;
    --ag-border-radius: 0;
    --ag-font-family: "IBM Plex Mono", monospace;
    --ag-font-size: 14px;
    --ag-font-weight: 400;
    --ag-foreground-color: #68FF8E;
    --ag-header-background-color: #21222C;
    --ag-header-text-color: #68FF8E;
    --ag-header-font-size: 14px;
    --ag-header-font-weight: 700;
    --ag-header-border-color: #429356;
    --ag-row-border-color: #429356;
    --ag-row-border-width: 1px;
    --ag-odd-row-background-color: #21222C;
    --ag-even-row-background-color: #26272E;
    --ag-cell-text-color: #50F178;
    --ag-cell-horizontal-padding: 8px;
    --ag-cell-vertical-padding: 6px;
    --ag-range-selection-background-color: #FFFF0020;
    --ag-range-selection-border-color: yellow;
    --ag-range-selection-border-style: dashed;
    --ag-side-panel-background-color: #1A1B20;
    --ag-side-panel-border-color: #429356;
    --ag-tool-panel-header-background-color: #26272E;
    --ag-toolbar-background-color: #1A1B20;
    --ag-toolbar-border-color: #429356;
    --ag-focus-color: #429356;
    --ag-hover-background-color: #2E2F38;
    --ag-hover-text-color: #FFFFFF;
    --ag-selected-row-background-color: #3A3B45;
    --ag-selected-row-text-color: #FFFFFF;
    --ag-input-border-color: #50F178;
    --ag-input-background-color: #21222C;
    --ag-input-text-color: #50F178;
    --ag-button-background-color: #50F178;
    --ag-button-border-color: #429356;
    --ag-button-text-color: #21222C;
    --ag-pagination-button-background-color: #21222C;
    --ag-pagination-button-border-color: #429356;
    --ag-pagination-button-hover-background-color: #26272E;
    --ag-pagination-button-hover-border-color: #50F178;
    --ag-spacing: 4px;
    --ag-wrapper-border-width: 1px;
    --ag-wrapper-border-color: #429356;
    --ag-wrapper-border-radius: 0;
}
